.weather-row {
  display: flex;
  margin: 30px 15px;
  padding: 10px 50px;
  background-color: white;
  border-radius: 30px;
  color: rgb(116, 112, 112);
}

.temp {
  color: black;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 50px;
  margin: 0;
  padding: 0;
}

.city {
  color: black;
  font-size: 25px;
  margin: 0 0 15px 0;
}

.right {
  text-align: center;
  border-left: 1px solid #747070;
  float: right;
  padding-left: 30px;
  margin-left: 60px;
}

.weather-img {
  width: 40px;
}

.mood {
  color: black;
  font-size: 20px;
}
