body {
  width: 390px;
  max-height: 844px;
}

.screen-two {
  width: 390px;
  min-height: 844px;
  background: rgb(160, 160, 160);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3), 0 1px 3px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}


.phone {
  display: flex;
}

.icons-sec {
  text-align: right;
  padding: 20px 20px 0 0;
  position: absolute;
  left: 300px;
}

.icons {
  width: 18px;
  height: 18px;
  color: white;
  padding-right: 8px;
}

.images {
  margin: 20px 30px;
}

.logo {
  width: 200px;
  margin: 30px 60px;
}

.intro {
  width: 300px;
  margin: 0 10px;
}

.title {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 30px;
  margin: 60px 0;
  padding: 0 15%;
}

.start {
  display: sticky;
  border: 1px solid black;
  margin: 0 22.5%;
  height: 20px;
  width: 30%;
  padding: 15px 45px;
  color: white;
  background-color: rgb(55, 55, 55);
  border-radius: 30px;
  position: relative;
  font-size: 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.start:hover,
.sign-btn:hover {
  background-color: black;
}

.sign-sec {
  margin-top: 60%;
  margin-left: 5%;
  display: flex;
}

.dnt {
  color: rgb(55, 55, 55);
  margin-left: 20%;
}

.sign {
  color: rgb(246, 167, 0);
  margin-left: 2%;
}

.for-log {
  margin: 0 10%;
  width: 80%;
  max-height: 300px;
  background-color: white;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3), 0 1px 3px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}


.navlog {
  text-decoration: none;
}

.close-btn {
  text-align: right;
  margin: 20px 20px 0 0;
  padding-top: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: rgb(94, 92, 92);
  cursor: pointer;
}

.form-login {
  margin: 10px 20px;
  padding: 0px 20px 10px 20px;
  height: 120px;
  background: none;
  box-shadow: none;
}

input {
  margin: 5px 5px;
  padding: 5% 2%;
  background: none;
  border: none;
  max-width: 90%;
  font-size: 15px;
  border-bottom: 1px solid rgb(116, 112, 112);
}

.log-btn {
  display: sticky;
  border: 1px solid black;
  margin: 6% 25%;
  height: 10px;
  width: 20%;
  padding: 15px 45px;
  color: white;
  background-color: rgb(55, 55, 55);
  border-radius: 30px;
  position: relative;
  font-size: 12px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-align: center;
}

.log-btn:hover {
  background-color: black;
}

.regis-sec {
  margin-top: 10px;
  display: flex;
}
