.list-task{
    background-color: white;
    margin: 20px;
    padding: 5px 10px;
    box-shadow: 0 4px 15px #ffb71d72, 0 1px 3px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    display: flex;
  }


  .selec {
    padding: 5px;
    border: 2px solid black;
    border-radius: 50%;
    width: 5px;
    height: 5px;
    margin: 5% 10px;
    cursor: pointer;
  }