body {
  width: 390px;
  max-height: 844px;
}
.screen {
  width: 390px;
  min-height: 844px;
  background: rgb(236, 236, 236);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3), 0 1px 3px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.phone {
  display: flex;
}

.icons-sec {
  text-align: right;
  padding: 20px 20px 0 0;
  position: absolute;
  left: 300px;
}

.icons {
  width: 18px;
  height: 18px;
  color: white;
  padding-right: 8px;
}

.images {
  margin: 20px 30px;
}

.logo {
  width: 200px;
  margin: 30px 60px;
}

.intro {
  width: 300px;
  margin: 0 10px;
}

.title {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 30px;
  margin: 40px 0;
  padding: 0 15%;
}

.start {
  display: sticky;
  background-color: white;
  border: none;
  margin: 0 22.5%;
  padding: 3% 0;
  height: 30%;
  width: 50%;
  border: 1px solid black;
  background-color: #373737;
  border-radius: 30px;
  cursor: pointer;
  color: white;
  position: relative;
  font-size: 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.start:hover,
.sign-btn:hover {
  background-color: black;
}

.sign-sec {
  margin-top: 60px;
  display: flex;
}

.dnt {
  color: #373737;
  margin-left: 20%;
}

.sign {
  color: #f6a700;
  margin-top: 4%;
  margin-left: 2%;
}

.back-sec {
  margin: 10px 20px;
}

.back-btn {
  border: none;
  background-color: white;
  font-size: 25px;
  color: #373737;
  cursor: pointer;
}

.sign-title {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 30px;
  margin: 20px 0;
  padding: 0 10%;
}

form {
  margin: 5%;
}

input {
  margin: 5px 5px;
  padding: 5% 2%;
  background: none;
  border: none;
  max-width: 90%;
  font-size: 17px;
  border-bottom: 1px solid rgb(116, 112, 112);
}

.sign-btn {
  display: sticky;
  border: 1px solid black;
  margin: 0 15%;
  height: 20px;
  width: 50%;
  text-align: center;
  padding: 15px 45px;
  color: white;
  background-color: #373737;
  border-radius: 30px;
  position: relative;
  font-size: 17px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
